<!-- app/templates/auth/change_password.html -->

{% extends "base.html" %}

{% block content %}
<form id="change-password" action="{{url_for('auth.change_password')}}" method="POST">
    <div class="form-group">
        <label for="old-password">Old password</label>
        <input type="password" class="form-control" id="old-password" name="old_password" placeholder="Enter old password">
    </div>
    <div class="form-group">
        <label for="new-password">New password</label>
        <input type="password" class="form-control" id="new-password" name="new_password" placeholder="Enter new password">
    </div>
    <div class="form-group">
        <label for="repeat-new-password">Repeat new password</label>
        <input type="password" class="form-control" id="repeat-new-password" name="confirm_password" placeholder="Enter new password again">
    </div>
    <input type="hidden" id="csrf-token" name="csrf_token" value="{{csrf_token()}}">
    <button type="submit" class="btn btn-primary">Change password</button>
</form>
{% endblock %}