[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-login = "*"
arrow = "*"
gunicorn = "*"
gevent = "*"
pytest-mock = "*"
simplejson = "*"
bcrypt = "*"
flask-wtf = "*"
"psycopg2-binary" = "*"
flask-migrate = "*"
flask-mail = "*"
itsdangerous = "*"
sqlalchemy-searchable = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
requests = "*"
piplint = "*"
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
