<!-- app/templates/main/user.html -->

{% extends "base.html" %}
{% import "main/_macro.html" as macros %}

{% block header%}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block title %}{{visit_user.username}}{% endblock %}

{% block content %}
{%with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<div class="user">
    <div class="username">
        <span>{{visit_user.username}}</span>
    </div>
    <div class="about">
        <p>Welcome to {{visit_user.username}}'s blog.</p>
    </div>
    <div class="join">
        <span>join blog since {{visit_user.register_on.strftime('%Y/%m/%d')}}</span>
    </div>
</div>
<div>
    <div class="search-bar">
        <form class="form-inline" action="{{url_for('main.user_page', username=visit_user.username)}}" method="get">
            <input class="form-control" type="search" name="search" id="search" placeholder="search title or content">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
{% include "main/_posts.html" %}
{% if pagination %}
    {{macros.pagination_widget('main.user_page', pagination, username=user.username)}}
{% endif %}
</div>
{% endblock %}